.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 100%;
}
.ProdButton{
  justify-content: center;
  align-items: center;
  border-bottom: 1.5px solid rgba(128, 127, 127, 0.541);
  padding: 35px;
}